<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>Laobzhang</title>
     <script src="//cdn.bootcss.com/Chart.js/2.7.1/Chart.bundle.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="static/semantic.js"></script>
    <link href="static/semantic.css" rel="stylesheet">
     <style>

    </style>
</head>
<body>

<div class="ui container" id="selector1">
    <div class="ui secondary menu">
  <div class="right menu">
    <!--<div class="item">-->
      <!--<div class="ui icon input">-->
        <!--<input type="text" placeholder="Search...">-->
        <!--<i class="search link icon"></i>-->
      <!--</div>-->
    <!--</div>-->
    <a class="ui item" >{{current_user}}</a>
    <a class="ui item" @click="logout">登出 </a>
  </div>
</div>
<div>
<select  class="ui search dropdown selection" v-model="base_select" @change="firstd()">
  <option v-for="(value,key) in department" :value=key>{{key}}</option>
</select>
<select  class="ui search dropdown selection" v-model="first_select" @change="secondd()">
  <option v-if="auth.first">一级部门</option>
  <option v-for="(value,key) in department[base_select]" :value=key>{{key}}</option>
</select>
<select  class="ui search dropdown selection" v-model="second_select">
  <option v-if="auth.second">二级部门</option>
  <option v-for="(key,index) in first_value" :value=key>{{key}}</option>
</select>
    <div  class="ui blue button d_submit">提交</div>
</div>
</div>


<div id="vuetest" class="ui container">
    <h2 class="ui dividing header">总览</h2>
    <table class="ui celled table">
    <thead>
    <tr>
        <th>绩效等级</th>
        <th>人数</th>
        <th>占比</th>

    </tr>
    </thead>
    <tr  v-for="index in total_head">
        <td>{{index}}</td>
        <td>{{total_data[index]['number']}}</td>
        <td>{{total_data[index]['persentage']}}</td>
    </tr>
    </tbody>
</table>
    <h2 class="ui dividing header">绩效打分明细</h2>
<table class="ui celled table">
    <thead>
    <tr>
        <th v-for="title in table1_head">{{title}}</th>

    </tr>
    </thead>
    <tbody>
    <tr v-for="(each_data, index) in staff_data">
        <td v-for="title in table1_head">{{each_data[title]}}</td>
    </tr>
    </tbody>
</table>
    <h2 class="ui dividing header">能力素质情况</h2>
<table class="ui celled table">
    <thead>
    <tr>
        <th v-for="title in table2_head">{{title}}</th>
        <th>雷达图</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(each_data, index) in staff_data">

        <td v-for="title in table2_head">{{each_data[title]}}</td>
        <td>
            <button class="ui yellow button" @click="showRadar(each_data)">雷达图</button>
    </tr>
    <tr>
        <td>部门平均分</td>
        <td v-for="num in team.score">{{num}}</td><td></td><td></td>
    </tr>
    </tbody>
</table>
<!-- 展示canvas -->
<div id="parentChart">
    <canvas id="myChart"></canvas>
</div>

    <h2 class="ui dividing header">潜力评估情况</h2>
<table class="ui celled table">
    <thead>
    <tr>
        <th v-for="title in table3_head">{{title}}</th>
        <th>雷达图</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(each_data, index) in staff_data">

        <td v-for="title in table3_head">{{each_data[title]}}</td>
        <td>
            <button class="ui yellow button" @click="showRadar1(each_data)">雷达图</button>
    </tr>
    <tr>
        <td>部门平均分</td>
        <td v-for="num in team.score">{{num}}</td><td></td><td></td>
    </tr>
    </tbody>
</table>
<!-- 展示canvas -->
<div id="parentChart1">
    <canvas id="myChart1"></canvas>
</div>
<h2 class="ui dividing header">人才盘点九宫图</h2>
     <div id="parentBubble">
    <canvas id="myBubble"></canvas>
 </div>
</div>




<script>
//    var get_data_url = "http://localhost/get_data";
//    var get_selector_url = "http://localhost/get_selector";
//    var login_url = 'http://localhost/static/login.html';
//    var logout_url = 'http://localhost/logout';
    var get_data_url = "http://198.13.53.253/get_data";
    var get_selector_url = "http://198.13.53.253/get_selector";
    var login_url = 'http://198.13.53.253/hr/login.html';
    var logout_url = 'http://198.13.53.253/logout';

    var vselect = new Vue({
        el: '#selector1',
        data: {
            department: [],
            base_select:"事业部",
            first_select:"一级部门",
            second_select:"二级部门",
            first_value:["二级部门"],
            current_user:"",
            is_admin:"",
            auth:{}
        },
        methods: {
            firstd:function () {
                vselect.first_select = '一级部门';
            },
            secondd:function () {
                vselect.second_select = '二级部门';
                vselect.first_value = vselect.department[vselect.base_select][vselect.first_select]
            },

            logout:function () {
                axios.get(logout_url)
                    .then(function (response) {
                        window.location.href = login_url;
                    })
                    .catch(function (error) {
                        window.location.href = login_url;
                    });
            }

        }
    });

    var vm = new Vue({
        el: '#vuetest',
        data: {
            head: ['结果导向','分析判断','团队合作','沟通能力','积极主动'],
            head1: ['变革敏锐力', '结果敏锐力', '人际敏锐力', '思维敏锐力'],
            team:{
                "name":"部门平均分",
                "score":[25, 25, 25, 25]
            },
            person:{
                "name":"laobzhang",
                "score":[18, 19, 19, 23]
            },
            staff_data : [],
            table1_head : [],
            table2_head : [],
            table3_head : [],
            bubble_data : [],
            total_head : [],
            total_data : {}
        },
        methods: {
            showRadar: function (user_data) {
                vm.person.score = user_data.person_score;
                vm.person.name = user_data.姓名;
//                console.log(this);

                // 设置参数
                var data = {
                    labels: vm.head,
                    datasets: [
                        {
                            label: vm.person.name,
//            线图填充颜色
                            backgroundColor: "rgba(75,192,192,0.4)",
//            填充边框颜色
                            borderColor: "rgba(75,192,192,1)",
//            顶点颜色
                            pointBackgroundColor: "rgba(75,192,192,1)",
//            顶点圈颜色
                            pointBorderColor: "rgba(75,192,192,1)",
                            pointHoverBackgroundColor: "rgba(75,192,192,1)",
                            pointHoverBorderColor: "rgba(75,192,192,1)",
                            pointColor: "rgba(66,37,186,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(220,220,220,1)",
                            data: vm.person.score
                        },
                        {
                            label: vm.team.name,
                            data: vm.team.score
                        }
                    ]
                };


                var options = {
                    scale: {
                        ticks: {
                            min: 0,
                            max: 25
                        }
                    }

                    //String - A legend template
//                    legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"

                };


                // Get the context of the canvas element we want to select
                var ctx = document.getElementById("myChart");
                var myRadarChart = new Chart(ctx, {
                    type: 'radar',
                    data: data,
                    options: options
                });

            },
            showRadar1: function (user_data) {
                vm.person.score = user_data.person_score;
                vm.person.name = user_data.姓名;


                // 设置参数
                var data = {
                    labels: vm.head1,
                    datasets: [
                        {
                            label: vm.person.name,
//            线图填充颜色
                            backgroundColor: "rgba(75,192,192,0.4)",
//            填充边框颜色
                            borderColor: "rgba(75,192,192,1)",
//            顶点颜色
                            pointBackgroundColor: "rgba(75,192,192,1)",
//            顶点圈颜色
                            pointBorderColor: "rgba(75,192,192,1)",
                            pointHoverBackgroundColor: "rgba(75,192,192,1)",
                            pointHoverBorderColor: "rgba(75,192,192,1)",
                            pointColor: "rgba(66,37,186,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(220,220,220,1)",
                            data: vm.person.score
                        },
                        {
                            label: vm.team.name,
                            data: vm.team.score
                        }
                    ]
                };


                var options = {
                    scale: {
                        ticks: {
                            min: 0,
                            max: 25
                        }
                    }

                    //String - A legend template
//                    legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"

                };


                // Get the context of the canvas element we want to select
                var ctx = document.getElementById("myChart1");
                var myRadarChart = new Chart(ctx, {
                    type: 'radar',
                    data: data,
                    options: options
                });

            }
        }
    });

    $(function () {


        first_get_data();

    });

    function first_get_data() {
    axios.get(get_data_url)
        .then(function (response) {
//            console.log(response);
            vm.staff_data = response.data.staff_data;
            vm.table1_head = response.data.table1_head;
            vm.table2_head = response.data.table2_head;
            vm.table3_head = response.data.table3_head;
            vm.team.score = response.data.avg_score;
            vm.bubble_data = response.data.bubble_data;
            vm.total_data = response.data.total_data;
            vm.total_head = response.data.total_head;
            vselect.base_select = response.data.department_select.base_select;
            vselect.first_select = response.data.department_select.first_select;
            vselect.second_select = response.data.department_select.second_select;
            myBubble()
        })
        .catch(function (error) {
//            console.log(error)
            if (error.status == 403) {
                window.location.href = login_url;
            }
            else if (error.status == 500) {
                alert("请选择正确的部门！");
            }

        });
    $.get(get_selector_url, function (res_data) {
            vselect.department = res_data.department_data;
            vselect.current_user = res_data.current_user;
            vselect.first_value = res_data.first_value;
            vselect.auth = res_data.auth;

        });
    }
    $('.d_submit').on('click',function () {
//        console.log(vselect.first_select);
        var d_data = {"firstd":vselect.first_select,
        "based":vselect.base_select,"secondd":vselect.second_select};
        axios.get(get_data_url,{'params':d_data})
        .then(function (response) {
//            console.log(response);
            vm.staff_data = response.data.staff_data;
            vm.table1_head = response.data.table1_head;
            vm.table2_head = response.data.table2_head;
            vm.table3_head = response.data.table3_head;
            vm.team.score = response.data.avg_score;
            vm.bubble_data = response.data.bubble_data;
            vm.total_data = response.data.total_data;
            vm.total_head = response.data.total_head;
            myBubble()
        })
        .catch(function (error) {
//            console.log(error)
            if (error.status == 403) {
                window.location.href = login_url;
            }
            else if (error.status == 500) {
                alert("请选择正确的部门！");
            }



        });
    });
    var bubble_options = {
                    scales: {

                        yAxes: [{
                            type: 'linear',
                            position: 'left',
                            scaleLabel:{
                                display:true,
                                labelString:"潜力"
                            },
                            ticks: {
                                min: 50,
                                max: 100
                            }
                        }],
                        xAxes: [{
                            type: 'linear',
                            position: 'left',
                            scaleLabel:{
                                display:true,
                                labelString:"绩效"
                            },
                            ticks: {
                                min: 55,
                                max: 100
                            }
                        }]
                    }};

    function myBubble() {
            $('#myBubble').remove(); // this is my <canvas> element
            $('#parentBubble').append('<canvas id="myBubble"></canvas>');
            var ctx1 = document.getElementById("myBubble");
                    var myBubble = new Chart(ctx1, {
                        type: 'bubble',
                        data: {'datasets': vm.bubble_data},
                        options: bubble_options
                    });
    }





</script>
</body>
</html>